@page
@model PremiumChannelSubscription.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete Customer";
}

<h1>Delete Customer</h1>

<h3>Are you sure to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ContactNo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.CustomerID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">View All Customer</a>
    </form>
</div>
